body
{
	max-width: 1024px;
	margin: 20px auto;
}

li
{
	list-style: none;
}

p
, blockquote
{
	margin: 10px 20px;
}

blockquote
{
	border: 1px gray dotted;
}

.auto-card-link-decoration-off a.auto-card-link
{
	text-decoration: none;
}

.text-center
{
	text-align: center;
}

a.btn
{
	display: inline-block;
	font-size: 20px;
	text-align: center;
	border-style: solid;
	border-color: blue;
	border-width: 1px;
	border-radius: 3px;
	padding: 3px;
	background: blue;
	color: white;
	font-weight: bold;
	text-decoration: none;
}